

/*
TODO 2c
Customize the .jumbotron class to have centered text instead of left-aligned
Also change its bottom margin to 1%
*/
.jumbotron {
	margin-bottom: 1%;
}


/*
TODO 2h
Give the Watchlist items some styles:
- a fixed width of 160px
- a little bit of margin on the bottom and right edges
- no padding
*/

#section-watchlist li {
	width: 160px;
	padding: 0;
	margin: 0 10px 10px 0;
}


/*
TODO 2j
The "I watched it" button should fill the entire width of its container, 
and should be 10px below the neighbor element above it
*/

#section-watchlist button {
	width: 100%;
	margin-top: 10px;
}


/*
TODO 3c
Apply text-align: center; to the watchlist
*/

#section-watchlist ul {
	text-align: center;
}



.main-content {
	color: gray;
}

#section-browse {
	background: black;	
}

#section-browse form {
	margin-bottom: 2%;
}

hr {
	border-color: rgba(128,128,128,0.2);
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}